html, body {
  height: 100%;
  margin: 0;
}

.main {
  min-height: 100%;
  margin-bottom: -100px;
  padding-bottom: 100px;
}

.footer {
  background-color: #1C3475;
  height: 100px;
  padding: 20px;
  text-align: center;
}

body {
  background-color: #273F80;
  color: #d4dfff;
  position: relative;
  padding-bottom: 100px;
}

a {
  color: #8AA9FF;
}

a:hover {
  color: #ffffff;
}

.hidden {
  display: none !important;
}

.no-scroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.btn-promo {
  background-color: #ffc107;
  color: #69550b;
}

.btn-casual {
  background-color: #d4dfff;
  color: #273F80;
}

.header {
  position: relative;
  background-color: #1C3475;
}

.header__logo {
  padding: 10px 0;
}

.header__search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  max-width: 100%;
}

.movielist-info {
  padding: 0 12px;
}

.sort-by {
  text-align: right;
}

.tile {
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.tile:hover {
  color: #8AA9FF;
  text-decoration: underline;
}

.tile a {
  color: #ffffff;
  display: block;
}

.tile a:hover {
  color: #8AA9FF;
}

.tile__title {
  margin-top: 10px;
}

.main {
  padding-top: 24px;
}

.movies-container {
  list-style: none;
  padding: 0;
}

.popup-title,
.movie__title {
  color: #273F80;
}

.movie__content {
  color: #273F80;
}

.movie__row-title {
  color: #8AA9FF;
}

.movie__edit-button {
  margin-left: 20px;
}

.overlay-wrapper {
  background: rgba(0, 0, 0, 0.67);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.popup {
  background: #ffffff;
  max-width: 800px;
  max-height: 80vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.popup-content {
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  overflow: hidden;
  padding: 20px;
}

.popup-header {
  flex-shrink: 0;
}

.popup-body {
  flex: 1 1 auto;
  overflow-y: auto;
}

.popup-close {
  background: none;
  border: 0;
  appearance: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  width: 40px;
  height: 40px;
  transition: transform .2s ease-in-out;
}

.popup-close:hover {
  transform: rotateZ(90deg);
}

.popup-close::before,
.popup-close::after {
  content: '';
  width: 16px;
  height: 2px;
  background: #aaaaaa;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: background .2s ease-in-out;
}

.popup-close::before {
  transform: translate(-50%, -50%) rotateZ(-45deg);
}

.popup-close::after {
  transform: translate(-50%, -50%) rotateZ(45deg);
}

.popup-close:hover::before,
.popup-close:hover::after {
  background: #273F80;
}

.popup-close-text {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.add {
  font-size: 1.25rem;
  line-height: 1.2;
  text-align: center;
}

.add__button {
  width: 100%;
  height: 100%;
  appearance: none;
  background: none;
  -webkit-appearance: none;
  border: 4px dashed #ffffff;
  font-size: 100px;
  margin-top: 20px;
  color: #ffffff;
  text-align: center;
  max-width: 225px;
  height: 278px;
}

.add__button-text {
  display: inline-block;
  border: 4px solid #ffffff;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  line-height: 1;
}

.edit-form {
  padding-bottom: 5rem;
}

.edit-form-row {
  max-width: 500px;
  width: 100%;
  margin: 0 auto 1.5rem;
}

.edit-form-footer {
  background: rgba(255, 255, 255, 0.81);
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 0;
  width: 100%;
  transform: translateX(-50%);
  z-index: 1;
}

.sort-order {
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  position: relative;
  transform: rotateZ(0);
  transition: transform .2s ease-in-out;
  width: 20px;
  vertical-align: middle;
}

.sort-order::after {
  content: '';
  display: inline-block;
  padding-top: 100%;
}

.sort-order-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sort-order-icon::before {
  content: '';
  display: block;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: #ffffff;
  width: 10px;
  height: 10px;
  transform: rotateZ(45deg);
}

.sort-order.active {
  transform: rotateZ(180deg);
}
